/node_modules
/public/storage
/public/images/upload/*
/public/images/upload/announces/*
/config/constant.php
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
awstats-icon
awstatsicons
icon/
stats/
/config/constant.php
/config/database.php