/*@media print {*/
html, body {
    width: 210mm;
    height: 297mm;
}

#print-confirmation-wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 10pt;
    font-family: "Georgia", "Palatino", "Times New Roman", "Times";
}

#print-confirmation-wrapper table,
#print-confirmation-wrapper th,
#print-confirmation-wrapper td {
    /*border : 1px solid black;*/
    padding-left: 5px;
    padding-right: 5px;
}

#print-confirmation-wrapper .print-col-1 {
    width: 2%;
    text-align: right;
}

#print-confirmation-wrapper .print-col-2 {
    width: 38%;
}

#print-confirmation-wrapper .print-col-3 {
    width: 2%;
    text-align: center;
}

#print-confirmation-wrapper .print-col-4 {
    width: 48%;
}

#print-confirmation-wrapper .table-2 {
    width: 100%;
    margin-top: 15px;
}

#print-confirmation-wrapper .table-2 .print-col-1,
#print-confirmation-wrapper .table-2 .print-col-2 {
    width: 50%;
    text-align: center;
}

#print-review-wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-size: 10pt;
    font-family: "Georgia", "Palatino", "Times New Roman", "Times";
}

#print-review-wrapper table,
#print-review-wrapper th,
#print-review-wrapper td {
    /*border : 1px solid black;*/
    padding-left: 5px;
    padding-right: 5px;
}

#print-review-wrapper .double-border {
    border-bottom-style: double;
}

#print-review-wrapper table.print-header {
    margin-top: 10px;
}

#print-review-wrapper .print-header .print-col-1 {
    width: 30%;
}

#print-review-wrapper .print-header .print-col-2 {
    width: 5%;
}

#print-review-wrapper .print-header .print-col-3 {
    width: 65%;
}

#print-review-wrapper table.print-table th,
#print-review-wrapper table.print-table td {
    border: 1px solid #000000;
}

#print-review-wrapper .print-table {
    margin-top: 10px;
}

#print-review-wrapper .print-table .print-col-1 {
    width: 45%;
}

#print-review-wrapper .print-table .print-col-2 {
    width: 5%;
}

#print-review-wrapper .print-table .print-col-3 {
    width: 11%;
}

#print-review-wrapper .print-table .print-col-4 {
    width: 13%;
}

#print-review-wrapper .print-table .print-col-5 {
    width: 26%;
}

#print-review-wrapper .print-table tfoot {
    font-weight: bold;
}

#print-review-wrapper .print-footer {
    box-sizing: border-box;
}

#print-review-wrapper .print-footer {
    margin-top: 30px;
}

/*}*/